include ./head.pug
script(src="/socket.io/socket.io.js")
script(src="../strftime-min.js")
script(src="../chat.js")

body
    div(id="header")
        h1= title
        h2(class="left", id="users_num")= "Users online: "
        h2(class="right", id="name")= "Name: "

    hr
    div(class="chat")
        ul(id="messages")
        ul(id="user_list")
        form(id="ff", action="", onsubmit="return false")
            input(id="msg", autocomplete="off")
            button(type="submit") Send
