include ./head.pug
script(src="/socket.io/socket.io.js")
script(src="../chat.js")

body
    div(id="header")
        h1= title
        h2(id="users_num")= "Users online: "
    hr
    div(class="chat")
        ul(id="messages")
        form(id="ff", action="", onsubmit="return false")
            input(id="msg", autocomplete="off")
            button(type="submit") Send
