include ./head.pug
script(src="/socket.io/socket.io.js")
script(src="../strftime-min.js")
script(src="../chat.js")

body
    div(id="wrapper")
        div(id="header")
            h1= title
            h2(class="left", id="users_num")= "Users online: "
            h2(class="right", id="name")= "Name: "

        div(id="chat")
            ul(id="messages")
            ul(id="user_list")

        form(id="ff", action="", onsubmit="return false")
            input(id="msg", autocomplete="off")
            button(class="right", type="submit") Send
