* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
}

#user_list {
    list-style-type: none;
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    height: 100%;
    width: 100px;
    margin-bottom: 50px;
    right: 0;
    top: 65px;
    position: fixed;
    float: right;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    margin-right: 105px;
    word-wrap: break-word;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}

#header {
    overflow: auto;
    padding: 5px;
    background: rgb(130, 224, 255);
    position: fixed;
    height: auto;
    width: 100%;
}

.chat {
    margin-top: 65px;
}

.chat form {
    background: #000;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.chat form input {
    border: 0;
    padding: 10px;
    width: 89%;
    margin-right: .5%;
}
.chat form button {
    width: 10%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

.sys_warning {
    color: #D80000;
}

.sys_msg {
    color: #505050;
}

.chat_name {
    font-weight: bold;
    cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}
